body {
    font-family: 'Merriweather', sans-serif;
    background-color: #DCCAB6;
    letter-spacing: 2.5px;
}

.logo {
    font-size: 450%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h2 {
    font-size: 3rem;
    text-decoration: underline;
    color: #392722;
    font-family: 'Abril Fatface', sans-serif;
}

h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.headings {
    font-family: 'Abril Fatface', sans-serif;
    color: #DCCAB6;
}

.sub-headings {
    color: #392722;
    font-size: 3rem;
}

.shadow {
    box-shadow: 0px 0.5px 10px 8px #000;
}

nav a {
    font-size: 150%;
}


.bg-color {
    background: #000;
    box-shadow: 0px 0.5px 10px 8px #000
}

.card-padding {
    margin-top: 30px;
    margin-bottom: 30px;
}

.c-height {
    height: 500px
}

.card {
    background-color: #000;
}

.card-title {
    font-size: 1rem;
    color: #DCCAB6;
}

.navbar-nav {
    margin: 0 auto;
}

.btn-style {
    background-color: #392722;
    color: #DCCAB6;
    margin-top: 2rem;
}

.card-img-top {
    height: 11.5rem;
}

hr {
    color: #DCCAB6;
}

hr:not([size]) {
    height: 0.3rem;
    text-align: center;
}

.details {
    background: #000;
    color: #DCCAB6;
    height: 10rem;
}

.allauthforms {
    text-align: center;
    margin-top: 8rem;
}

iframe {
    margin-top: 1.5rem;
    border: 10px groove #392722;
}

.card-p {
    color: #DCCAB6;
    font-size: 0.7rem;
}

.btn-style:hover {
    background-color: #000;
    color: #DCCAB6;
}

.book-btn {
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    height: 5rem;
    font-size: 1.4rem;
}

.contact-form{
    width: 50%;
    margin: auto;
}

.booking-form{
    width: 50%;
    margin: auto;
}

label{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

textarea {
    height: 10rem;
}

#contact-us h2{
    margin-top: 1rem;
}

#services {
    scroll-margin-top: 11rem;
}

.nav-left{
    float: left;
}

a:hover{
    color:#3d4825;
}

.content-pos{
    margin-top: 1.5rem;
}

#my-booking .card-title{
    color:#000;
}