body{
    font-family: 'Merriweather', sans-serif;
    background-color: #392722;
}

.logo{
    font-size: 450%;
}

.headings{
    font-family: 'Abril Fatface', sans-serif;
    color: #000;
}

nav{
    color: #DCCAB6;    
}

nav a{
    font-size: 150%;
}


.bg-color{
    background:#392722;
}

.card-padding{
    margin-top: 30px;
    margin-bottom: 30px;
}

.c-height{
    height:500px
}

.card{
    background-color: #91776A;
    color: #000;    
}

.card-title{
    font-size: 175%;
}

.navbar-nav{
    margin:0 auto;
}

.btn-color{
    background-color:#392722;
    color: #DCCAB6;
}