{% extends "base.html" %}

{% block content %}

<!-- Confirm delete -->
<div class="container text-center content-pos">
    {%if user.id == booking.username.id%}
    <h2>Cancel confirmation</h2>
    <h3>Are you sure you want to delete your {{booking.service}} booking on the {{booking.date}} at {{booking.time}}?</h3>
    <div class="form-group">
        <form method="POST">
            {%csrf_token%}
            <button type="submit" class="btn-style">Delete</button>
            <input type="button" value="Go back" class="btn-style" onclick="history.back()">
        </form>
    </div>
    {%endif%}
</div>

{% endblock content %}