{% extends "base.html" %}

{% block content %}

<!-- Approved bookings -->
<section id="my-booking">
    <div class="container content-pos">
        <h2>Approved bookings</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 row-cols-lg-4 g-2 center">
            {%for booking in my_booking%}
            {%if booking.approved == True%}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title headings">{{booking.service}}</h5>
                        <h6 class="card-subtitle mb-2">{{booking.barber}}</h6>
                        <p class="card-text">Hi {{booking.name}}, your booking for {{booking.date}} at {{booking.time}}
                            has
                            been approved!</p>
                        <a href="{% url 'cancelbooking' booking.id %}" class="mt-auto red" tabindex="-1"
                            role="button" aria-disabled="true">Delete</a>
                    </div>
                </div>
            </div>
            {%endif%}
            {%endfor%}
        </div>
    </div>

    <br>

    <!-- Bookings pending approval -->
    <div class="container content-pos">
        <h2>Pending bookings</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 row-cols-lg-4 g-2 center">
            {%for booking in my_booking%}
            {% if booking.approved == False%}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title headings">{{booking.service}}</h5>
                        <h6 class="card-subtitle mb-2">{{booking.barber}}</h6>
                        <p class="card-text">Hi {{booking.name}}, your booking for {{booking.date}} at {{booking.time}}
                            is
                            pending approval
                        </p>
                        <div class="flex-row mt-auto">
                            <a href="{% url 'editbooking' booking.id %}" class="brown" tabindex="-1"
                                role="button" aria-disabled="true">Edit booking</a>
                            <a href="{% url 'cancelbooking' booking.id %}" class="red" tabindex="-1"
                                role="button" aria-disabled="true">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            {%endif%}
            {%endfor%}
        </div>
    </div>
</section>

{% endblock content %}